---
layout: page
title: Blog
description: Lo 'Zibaldone' - raccolta di pensieri senza censure
---

{% for lang in site.data.ui_text.languages %}
<section class="list lang-{{ lang.code }}">
	{% assign posts = site.posts | where: "lang", lang.code %}
	{% if lang.code == "en" and posts.size == 0 %}
	{% assign posts = site.posts | where_exp: "item", "item.lang != 'it'" %}
	{% endif %}

	{% if posts.size == 0 %}
	<p class="text-center">{{ lang.posts_empty }}</p>
	{% else %}
	{% for post in posts %}
	{% if post.category == 'blog' and post.hidden != true %}
	{% include blog-post.html %}
	{% endif %}
	{% endfor %}
	{% endif %}
</section>
{% endfor %}
