---
layout: page
title: Progetti
description: IAB Forum, blockchain, IPFS, pianificazione finanziaria e altro
---

<p>Over time, I find myself studying certain topics in depth but not producing 
	suitable documentation that is useful to me (if I forget what I have studied) or to others, 
	in the spirit of decentralization and free information.</p>
<p>This page is a periodically updated collection of research that I have conducted alone 
	or together with others, appropriately mentioned.</p>

<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nessun post per ora :)</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'projects' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
