---
layout: page
title: Progetti
description: IAB Forum, blockchain, IPFS, pianificazione finanziaria e altro
---
<p>Nel corso del tempo, mi ritrovo a studiare approfonditamente alcune
 tematiche ma a non produrre della documentazione adatta che sia utile a me
 (se dimentico quello che ho studiato) o agli altri, in pieno spirito di
decentralizzazione e di informazione libera.</p>

<p>Questa pagina è una raccolta, periodicamente aggiornata, di ricerche che ho eseguito da solo o insieme
ad altri, opportunamente menzionati.</p>

<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nessun post per ora :)</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'projects' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
