---
layout: page
title: Projects
---
<p>Nel corso del tempo, mi ritrovo a studiare approfonditamente alcune
 tematiche ma a non produrre della documentazione adatta che sia utile a me
 (se dimentico quello che ho studiato) o agli altri, in pieno spirito di
decentralizzazione e di informazione libera. Questa pagina è una raccolta,
periodicamente aggiornata, di ricerche che ho eseguito da solo o insieme
ad altri, opportunamente menzionati.</p>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
