<nav class="{% if page.title == " Home" %}nav-home{% else %}nav{% endif %}">
  <ul class="list">
    <li class="item">
      <a class="link" href="{{base}}/podcast">Listen</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/blog">Read</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/workflows">Work</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/about">About</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/projects">Projects</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/newsletter">Know</a>
    </li>
  </ul>
</nav>