<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
  <ul class="list">
    <li class="item">
      <a class="link" href="{{base}}/podcast">Podcast</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/blog">Blog</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/workflows">Workflows</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/about">Me</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/projects">Projects</a>
    </li>

    <li class="item">
      <a class="link" href="{{base}}/newsletter">Newsletter</a>
    </li>
  </ul>
</nav>
