
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-projects";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/disqus";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";
@import "components/related";
@import "components/share";
@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";

.lang-badge {
    display: inline-block;
    padding: 0.2em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    margin-left: 5px;
    vertical-align: middle;
}
