<section>
  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/jaack" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jaack', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><label for="tlemail">Una sola mail a settimana, niente di più :)</label></p>
    <p><input type="text" style="width:140px" name="email" id="tlemail" /></p>
    <p><input type="hidden" value="1" name="embed"/><input type="submit" value="Iscriviti" /></p>
  </form>
</section>
