---
layout: page
---

{%- include progress-bar.html -%}

{% assign alternate_post = nil %}
{% if page.lang == 'en' %}
{% assign search_slug_it = page.slug | remove: "-en" | append: "-it" %}
{% assign search_slug = page.slug | remove: "-en" %}

{% assign alternate_post = site.posts | where: "slug", search_slug_it | first %}
{% unless alternate_post %}
{% assign alternate_post = site.posts | where: "slug", search_slug | first %}
{% endunless %}

{% elsif page.lang == 'it' %}
{% assign search_slug_en = page.slug | remove: "-it" | append: "-en" %}

{% assign alternate_post = site.posts | where: "slug", search_slug_en | first %}
{% endif %}

<script>
  window.alternateLangUrl = "{{ alternate_post.url }}";
  window.alternateLangCode = "{% if page.lang == 'en' %}it{% else %}en{% endif %}";
</script>

{% if page.image and page.headerImage %}
<img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
<!---<img class="featured-image" src="{{page.headerImage}}" alt="{{ page.title }}"-->
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
  <time datetime="{{ page.date | date:" %d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
  <p>{% if site.read-time %} {% include read-time.html %}{% endif %}</p>
</span>
<beeline-button target=".post" exclude=".exclude, .nav, .date, .blog-navigation, .prev, .next, .reading-time"
  size="regular"></beeline-button>
<div>
  {{content}}
</div>
{% if site.post-advance-links contains page.category %}
<div class="blog-navigation">
  {% if page.previous.hidden == false and page.previous.url %}
  <a class="prev" href="{{base}}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% else %}
  <a class="prev"></a>
  {% endif %}
  {% if page.next.hidden == false and page.next.url %}
  <a class="next" href="{{base}}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
{% endif %}

{% include donation.html %}

{% if site.related %}
{% include related.html %}
{% endif %}

{% if site.show-author %}
{% include author.html %}
{% endif %}