---
layout: page
---

{%- include progress-bar.html -%}

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
    <!---<img class="featured-image" src="{{page.headerImage}}" alt="{{ page.title }}"-->
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    <p>{% if site.read-time %} {% include read-time.html %}{% endif %}</p>
</span>
<div class="beeline">
  <div class="beeline-button hidden xs">
    <a class="beeline-button-ref">
      <button class="beeline-btn-grey-rif active" data-color="bright">Bright
        </button>
        <button class="beeline-btn-grey-rif" data-color="dark">Dark
        </button>
        <button class="beeline-btn-grey-rif" data-color="blues">Blues
        </button>
        <button class="beeline-btn-grey-rif" data-color="gray">Bright
        </button>
        <button class="beeline-btn-grey-rif" data-color="inverted">Inverted
        </button>
        <button class="beeline-btn-grey-rif" data-color="off">Off
        </button>
    </a>
  </div>
  </div>
<div class="color">
  {{content}}
</div>

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.hidden == false and page.previous.url %}
            <a class="prev" href="{{base}}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.hidden == false and page.next.url %}
            <a class="next" href="{{base}}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}
{% include newsletter.html %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
